<a href="https://colab.research.google.com/github/lerlerchan/MathematicsForComputing/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Declare Variable in R Language

In [ ]:

x <- 42
print(x)

[1] 42

# Declare List

In [ ]:
my_list <- list(c('A', 'B', 'C'), 14, 20, 23, 31, 'Thunder', 'Wizards')

print(my_list)

[[1]]
[1] "A" "B" "C"

[[2]]
[1] 14

[[3]]
[1] 20

[[4]]
[1] 23

[[5]]
[1] 31

[[6]]
[1] "Thunder"

[[7]]
[1] "Wizards"

# In R, you can perform set operations using the following functions:

*intersect(x, y)*: Finds all rows present in both x and y.

*union(x, y)*: Finds all rows present in either x or y, excluding duplicates.

*union_all(x, y)*: Finds all rows present in either x or y, including duplicates.

*setdiff(x, y)*: Finds all rows in x that aren’t in y.

*symdiff(x, y)*: Computes the symmetric difference, i.e., all rows in x that aren’t in y and all rows in y that aren’t in x.

*setequal(x, y)*: Returns TRUE if x and y contain the same rows (ignoring order).

In [ ]:
# Create data frames
df1 <- data.frame(x = 1:3)
df2 <- data.frame(x = 3:5)

# Find the intersection of the column 'x'
intersection <- intersect(df1$x, df2$x)

# Convert the intersection to a list
intersection_list <- as.list(intersection)

# Print the list
print(intersection_list)

[[1]]
[1] 3

testing